@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/*Variaveis*/
html{
    font-size: 15px;
    overflow-x: hidden;
}

:root{
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Dark-Gray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
}

/*Formatções gerais*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Alata';
    overflow-x: hidden !important;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans';
    font-size: 2em;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    
    border: none;
    outline: none;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.oculto{
    display: none;
}

/*Header*/
header{
    background-image: url('../images/desktop/image-hero3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center contain;
    height: 90vh;
    color: var(--White) !important;
    padding: 50px 0 70px 0;
}

header a{
    color: var(--White);
}

/* Nav */
header .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}

header .container nav .logo{
    width: 17%;
}

header .container nav .logo img{
    width: 100%;
}

header .container nav #lista-links li a{
    font-size: 1em;
    padding: 0 15px;
    margin: 0 5px;
    position: relative;
}


header .container nav ul li a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--White);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    transition: width 0.2s ease-in-out;
}

header .container nav a:hover::after{
    width: 30%;
}

/*nav responsivo*/

header .container nav #lista-links #linha-bar-mobile{
    display: none;
    
}

header .container nav #btn-hamburger{
    display: none;
    background-color: transparent;
    padding: 15px;
    border-radius: 100px;
    transition: background-color 0.4s;
}

header .container nav #btn-hamburger:active{
    background-color: rgba(0,0,0, 0.5);
}

/* Header content */
header #header-content{
    height: 100%;
    display: flex;
    align-items: center;
    
}

header #header-content #caixa-header{
    border: 3px solid var(--White);
    padding: 35px;
    width: 50%;
    max-height: 350px;
}

header #header-content #caixa-header h1{
    font-weight: 300;
    font-size: 4.5vw;
}

/* Main */
/* Conteudo main 1 */
main .main-content{
    margin-top: 10vh;
}

main .main-content .container #caixa-main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

main .main-content .container #caixa-main img{
    width: 100%;
}

main .main-content .container #caixa-main #caixa-texto-main{
    width: 50%;
    background-color: var(--White);
    height: 65%;
    top: 35%;
    right: 0;
    position: absolute;
    padding: 10% 70px 0 70px;
}


main .main-content .container #caixa-main #caixa-texto-main h1{
    font-size: 3.4vw;
    margin-bottom: 30px;
    font-weight: 300;
}

main .main-content .container #caixa-main #caixa-texto-main p{
    color: var(--Dark-Gray);
}




/*Responsivo celular/tablet*/
@media (max-width: 912px){

    
    .container{
        width: 90%;
    }

    header{
        background-image: url('../images/mobile/image-hero.jpg');
        
    }

    header .container nav .logo{
        width: 25%;
    }

    header .container nav #btn-hamburger{
        display: block;
    }

    header .container nav #lista-links{
        position: absolute;
        width: 100vw;
        height: 100vh;
        right: -100%;
        background-color: var(--Black);
        flex-direction: column;
        top: 0;
        padding: 30px;
        font-family: 'Josefin Sans' !important;
        transition: all 0.5s ease-in-out;
    }

    header .container nav #lista-links #linha-bar-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20vh;   
    }

    

    header .container nav #lista-links #linha-bar-mobile #btn-close{
        background-color: transparent;
        padding: 10px;
        border-radius: 100px;
        transition: background-color 0.3s ease-in-out;
    }

    header .container nav #lista-links #linha-bar-mobile #btn-close:active{
        background-color: rgba(255,255,255, 0.5);
    }


    header .container nav #lista-links a{  
        padding: 0 !important;
        margin: 10px 0 !important;
        font-size: 2em !important;
        display: block;
    }

    header .container nav #lista-links a::after{
        content: '';
        width: 0;
        height: 0;
    }

    .navAtiva{
       right: 0 !important; 
    }

    /* Header content */
    header #header-content #caixa-header{
        margin: 0 auto;
        width: 80%;
        padding: 30px 25px;
    }
    
    header #header-content #caixa-header h1{
        font-size: 9vw;
    }

    /* Main */
    /* Conteudo main 1 */
    main .main-content .container #caixa-main{
        grid-template-columns: 1fr;
    }

    main .main-content .container #caixa-main #caixa-texto-main{
        width: 100%;
        position: static;
        padding: 10% 20px 0 20px;
        text-align: center;
    }

    main .main-content .container #caixa-main #caixa-texto-main h1{
        font-size: 7.5vw;
        margin-bottom: 15px;
    }

    main .main-content .container #caixa-main #caixa-texto-main p{
        font-size: 4vw;
    }

}



@media (max-width: 720px) {
        
    
    header .container nav .logo{
        width: 35% !important;
    }
    

    header .container nav #lista-links #linha-bar-mobile .logo{
        width: 60%;
    
    }

    header .container nav #lista-links{
        padding: 30px 15px;
    }

    header #header-content #caixa-header{
        margin: 0 auto;
        width: 100%;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header #header-content #caixa-header h1{
        font-size: 11vw;
        
    }

}